In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,4,9,16,25,36,49,64],name = 'squares')

In [3]:
s

0     1
1     4
2     9
3    16
4    25
5    36
6    49
7    64
Name: squares, dtype: int64

In [4]:
s.values

array([ 1,  4,  9, 16, 25, 36, 49, 64], dtype=int64)

In [5]:
s.index

RangeIndex(start=0, stop=8, step=1)

In [6]:
pop2014 = pd.Series([100,99.3,95.5,93.5,92.4,84.8,84.5,78.9,74.3,72.8],
                    index=['Java','C','C++','Python','C#','PHP','JavaScript','Ruby','R','Matlab'])

In [7]:
pop2014.index

Index(['Java', 'C', 'C++', 'Python', 'C#', 'PHP', 'JavaScript', 'Ruby', 'R',
       'Matlab'],
      dtype='object')

In [8]:
pop2014.values

array([ 100. ,   99.3,   95.5,   93.5,   92.4,   84.8,   84.5,   78.9,
         74.3,   72.8])

In [9]:
pop2014[0]

100.0

In [10]:
pop2014['Python']

93.5

In [11]:
pop2014.iloc[0:2]

Java    100.0
C        99.3
dtype: float64

In [12]:
pop2014.loc[:'Ruby']

Java          100.0
C              99.3
C++            95.5
Python         93.5
C#             92.4
PHP            84.8
JavaScript     84.5
Ruby           78.9
dtype: float64

In [13]:
pop2014[pop2014>90]

Java      100.0
C          99.3
C++        95.5
Python     93.5
C#         92.4
dtype: float64

In [14]:
pop2015 = pd.Series({'Java': 100,'C': 99.9,'C++': 99.4,'Python': 96.5,'C#': 91.3,
                     'R': 84.8,'PHP': 84.5, 'JavaScript': 83.0, 'Ruby': 76.2, 'Matlab': 72.4})

In [15]:
twoyears = pd.DataFrame({'2014':pop2014,'2015':pop2015})
twoyears

             2014   2015
C            99.3   99.9
C#           92.4   91.3
C++          95.5   99.4
Java        100.0  100.0
JavaScript   84.5   83.0
Matlab       72.8   72.4
PHP          84.8   84.5
Python       93.5   96.5
R            74.3   84.8
Ruby         78.9   76.2

In [16]:
twoyears.sort_values('2015',ascending = False)

             2014   2015
Java        100.0  100.0
C            99.3   99.9
C++          95.5   99.4
Python       93.5   96.5
C#           92.4   91.3
R            74.3   84.8
PHP          84.8   84.5
JavaScript   84.5   83.0
Ruby         78.9   76.2
Matlab       72.8   72.4

In [17]:
twoyears.columns

Index(['2014', '2015'], dtype='object')

In [18]:
twoyears.index

Index(['C', 'C#', 'C++', 'Java', 'JavaScript', 'Matlab', 'PHP', 'Python', 'R',
       'Ruby'],
      dtype='object')

In [19]:
twoyears.iloc[0:3]

     2014  2015
C    99.3  99.9
C#   92.4  91.3
C++  95.5  99.4

In [20]:
twoyears.loc['C':'Python']

             2014   2015
C            99.3   99.9
C#           92.4   91.3
C++          95.5   99.4
Java        100.0  100.0
JavaScript   84.5   83.0
Matlab       72.8   72.4
PHP          84.8   84.5
Python       93.5   96.5

In [21]:
twoyears['avg'] = 0.5*(twoyears['2014']+twoyears['2015'])
twoyears

             2014   2015     avg
C            99.3   99.9   99.60
C#           92.4   91.3   91.85
C++          95.5   99.4   97.45
Java        100.0  100.0  100.00
JavaScript   84.5   83.0   83.75
Matlab       72.8   72.4   72.60
PHP          84.8   84.5   84.65
Python       93.5   96.5   95.00
R            74.3   84.8   79.55
Ruby         78.9   76.2   77.55

In [31]:
presidents = pd.DataFrame([{'name': 'Barack Obama','inauguration': 2009,'birthyear': 1961},
                          {'name': 'George W. Bush','inauguration': 2001,'birthyear': 1946},
                          {'name': 'Bill Clinton','birthyear': 1946,'inauguration': 1993},
                          {'name': 'George H. W. Bush','inauguration': 1989,'birthyear': 1924}])

In [32]:
presidents

   birthyear  inauguration               name
0       1961          2009       Barack Obama
1       1946          2001     George W. Bush
2       1946          1993       Bill Clinton
3       1924          1989  George H. W. Bush

In [33]:
presidents_idx = presidents.set_index('name')
presidents_idx

                   birthyear  inauguration
name
Barack Obama            1961          2009
George W. Bush          1946          2001
Bill Clinton            1946          1993
George H. W. Bush       1924          1989

In [35]:
presidents_idx.loc['Bill Clinton']

birthyear       1946
inauguration    1993
Name: Bill Clinton, dtype: int64

In [37]:
presidents_idx.loc['Bill Clinton']['inauguration']

1993

In [38]:
presidents_idx['inauguration']['Bill Clinton']

1993

In [39]:
presidents_fathers = pd.DataFrame([{'son': 'Barack Obama','father': 'Barack Obama, Sr.'},
                                   {'son': 'George W. Bush','father': 'George H. W. Bush'},
                                   {'son': 'George H. W. Bush','father': 'Prescott Bush'}])

In [40]:
presidents_fathers

              father                son
0  Barack Obama, Sr.       Barack Obama
1  George H. W. Bush     George W. Bush
2      Prescott Bush  George H. W. Bush

In [41]:
pd.merge(presidents,presidents_fathers,left_on='name',right_on='son')

,birthyear,inauguration,name,father,son
0,1961,2009,Barack Obama,"Barack Obama, Sr.",Barack Obama
1,1946,2001,George W. Bush,George H. W. Bush,George W. Bush
2,1924,1989,George H. W. Bush,Prescott Bush,George H. W. Bush

In [42]:
pd.merge(presidents,presidents_fathers,left_on='name',right_on='son',how='left').drop('son',axis=1)

   birthyear  inauguration               name             father
0       1961          2009       Barack Obama  Barack Obama, Sr.
1       1946          2001     George W. Bush  George H. W. Bush
2       1946          1993       Bill Clinton                NaN
3       1924          1989  George H. W. Bush      Prescott Bush